@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Daydream";
  src: url("../fonts/Daydream.ttf") format("truetype");
}

/*****
* Pixel Corners
* @author Luke Bonaccorsi
* @generator-link https://pixelcorners.lukeb.co.uk/?radius=6&multiplier=4
*****/
.pixel-corners {
  clip-path: polygon(
    0px calc(100% - 16px),
    4px calc(100% - 16px),
    4px calc(100% - 8px),
    8px calc(100% - 8px),
    8px calc(100% - 4px),
    16px calc(100% - 4px),
    16px 100%,
    calc(100% - 16px) 100%,
    calc(100% - 16px) calc(100% - 4px),
    calc(100% - 8px) calc(100% - 4px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 4px) calc(100% - 8px),
    calc(100% - 4px) calc(100% - 16px),
    100% calc(100% - 16px),
    100% 16px,
    calc(100% - 4px) 16px,
    calc(100% - 4px) 8px,
    calc(100% - 8px) 8px,
    calc(100% - 8px) 4px,
    calc(100% - 16px) 4px,
    calc(100% - 16px) 0px,
    16px 0px,
    16px 4px,
    8px 4px,
    8px 8px,
    4px 8px,
    4px 16px,
    0px 16px
  );
}

.card {
  @apply w-full bg-card px-12 py-6 rounded-lg pixel-corners;
}

a {
  @apply text-link;
}

img {
  image-rendering: pixelated;
}
